<div class="container text-center">
    <div class="myclass">こんにちは</div>
    <div class="row">
        <div *ngFor="let product of products" class="col">
            <a [routerLink]="['detail']">
                <div class="card">
                    <img src="\assets\img\img.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </a>
        </div>

    </div>
</div>



