<div class="container text-center">
    <div class="myclass">こんにちは</div>
    <div class="row">
        <div *ngFor="let product of products let productId = index" class="col">
            <a [routerLink]="[product._id]">
                <div class="card">
                    <img src="./assets/img/500x500.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                </div>   
            </a>
        </div>

    </div>
</div>